.wrapper {
  width: 19%;
  cursor: pointer;
}

.wrapper p {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.wrapper:hover .container {
  transform: scale(1);
  -webkit-box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.6);
}

.container {
  margin: 0 auto 4px;
  aspect-ratio: 16/8.66;
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid #000;
  border-radius: 4px;
  transform: scale(0.975);
  transition: all 0.3s;
}
